@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

* {
  box-sizing: border-box;
}

@layer utilities {
  /* .text-balance {
    text-wrap: balance;
  } */
}

/* harmburger */
.toggle .line {
  transition: y 200ms ease-in 200ms, transform 200ms ease-in,
    opacity 0ms 200ms;
  transform-origin: center;
}

.toggle[aria-expanded="true"] .line {
  transition: y 200ms 100ms ease-in,
    transform 200ms ease-in 200ms, opacity 0ms 200ms;
}

/* .toggle[aria-expanded="true"] :is(.top, .bottom) {
  y: 45;
} */

.toggle[aria-expanded="true"] .top {
  /* transform: rotate(45deg); */
  transform: translateY(15px) rotate(45deg);
}

.toggle[aria-expanded="true"] .middle {
  opacity: 0;
  transform: scaleY(0);
}

.toggle[aria-expanded="true"] .bottom {
  /* transform: rotate(-45deg); */
  transform: translateY(-20px) rotate(-45deg);
}
